Flask>=1.0.0
Flask-PluginKit>=3.4.0
requests
setproctitle
redis<=2.10.6
torndb
MySQL-python
gevent==1.4.0
gunicorn==19.9.0
vaptchasdk
shortuuid
user_agents
upyun
pycrypto
bleach
aliyun-python-sdk-dysmsapi
