Flask>=1.0.0,<2.0.0
Werkzeug<1.0.0
Flask-PluginKit>=3.4.0
requests
setproctitle
redis<=2.10.6
torndb==0.3
MySQL-python==1.2.5
gevent==22.10.2
gunicorn==19.10.0
greenlet==2.0.2
shortuuid==0.5.0
user_agents
upyun==2.5.3
pycrypto==2.6.1
bleach==3.3.0
aliyun-python-sdk-dysmsapi==1.0.0
