{% extends "user/base.html" %}

{% block title %}应用管理{% endblock %}

{% block userpanel %}
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="appList">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="appList">应用列表</li>
                <li lay-id="newApp">新建应用</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show">
                    <table id="userapps" lay-filter="userAppTable"></table>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" autocomplete="off" placeholder="应用标识名称，请以英文格式书写" class="layui-input" value="" lay-verify="required|name">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">描述</label>
                            <div class="layui-input-block">
                                <input type="text" name="description" autocomplete="off" placeholder="应用作用描述" class="layui-input" value="" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">回调域名</label>
                            <div class="layui-input-block">
                                <input type="text" name="app_redirect_url" autocomplete="off" placeholder="应用回调根地址，请书写完全合格域名" class="layui-input" value="" lay-verify="required|url">
                            </div>
                        </div>
                        <input type="hidden" id="editView">
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-submit="" lay-filter="newApp" id="newAppSubmit">点击提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}

{% block script %}
<script type="text/html" id="userAppBar">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    layui.use("app");
</script>
{% endblock %}