{% extends "public/base.html" %}

{% block baseTitle %}
    {% block title %}{% endblock %} - SaintIC Passport
{% endblock %}

{% block baseHead %}
    <link rel="stylesheet" href="/static/css/global.css">
    {% block head %}{% endblock %}
{% endblock %}

{% block baseHtml %}
<!--顶部导航-->
<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/"><img src="/static/images/logo.png" alt="Passport"></a>
        {% if g.signin %}
        <ul class="layui-nav fly-nav-user">
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs" id="nav_nickname"></cite>
                    <!--
                    <i class="iconfont icon-renzheng layui-hide-xs" title="已实名、未实名"></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
                    -->
                    <img id="nav_avatar" src="https://img.saintic.com/cdn/images/defaultAvatar.png">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{{ url_for('front.userset') }}"><i class="saintic-icon saintic-icon-setting"></i>基本设置</a></dd>
                    <dd><a href="{{ url_for('front.usersecurity') }}"><i class="saintic-icon saintic-icon-security"></i>账号安全</a></dd>
                    <dd><a href="{{ url_for('front.usermsg') }}"><i class="saintic-icon saintic-icon-message"></i>我的消息</a></dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="{{ url_for('front.signOut') }}"><i class="saintic-icon saintic-icon-logout"></i>注销登录</a></dd>
                </dl>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
    {% block leftNav %}
    <!--左侧垂直导航-->
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item {% if request.endpoint == 'front.userset' %}layui-this{% endif %}">
            <a href="{{ url_for('front.userset') }}"><i class="saintic-icon saintic-icon-setting"></i>&nbsp;&nbsp;基本设置</a>
        </li>
        <li class="layui-nav-item {% if request.endpoint == 'front.usersecurity' %}layui-this{% endif %}">
            <a href="{{ url_for('front.usersecurity') }}"><i class="saintic-icon saintic-icon-security"></i>&nbsp;&nbsp;账号安全</a>
        </li>
        <li class="layui-nav-item {% if request.endpoint == 'front.usermsg' %}layui-this{% endif %}">
            <a href="{{ url_for('front.usermsg') }}"><i class="saintic-icon saintic-icon-message"></i>&nbsp;&nbsp;我的消息</a>
        </li>
        {% if tpl_adminlogin_required() %}
        <!--
        <li class="layui-nav-item {% if request.endpoint == 'front.sysmanager' %}layui-this{% endif %}">
            <a href="{{ url_for('front.sysmanager') }}"><i class="saintic-icon saintic-icon-system-setting"></i>&nbsp;&nbsp;系统管理</a>
        </li>
        -->
        <li class="layui-nav-item {% if request.endpoint == 'front.userapp' %}layui-this{% endif %}">
            <a href="{{ url_for('front.userapp') }}"><i class="saintic-icon saintic-icon-app-management"></i>&nbsp;&nbsp;应用管理</a>
        </li>
        {% endif %}
    </ul>
    <!--移动端适应按钮-->
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>
    {% endblock %}
    <!--主要内容-->
    {% block userpanel %}{% endblock %}
</div>

{% include "public/footer.html" %}
{% endblock baseHtml %}

{% block baseScript %}
    {% block script %}{% endblock %}
{% endblock baseScript %}