{% extends "user/base.html" %}

{% block title %}我的消息{% endblock %}

{% block userpanel %}
<div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
        {%- set status = request.args.status or 1 %}
        {%- if status in (1, '1') %}
        <a href="{{ url_for('front.usermsg', status=0) }}"><button class="layui-btn layui-btn-normal">查看已读消息</button></a>
        {%- elif status in (0, '0') %}
        <a href="{{ url_for('front.usermsg', status=1) }}"><button class="layui-btn layui-btn-normal">查看未读消息</button></a>
        {%- else %}
        <a href="{{ url_for('front.usermsg', status=0) }}"><button class="layui-btn layui-btn-normal">查看已读消息</button></a>
        <a href="{{ url_for('front.usermsg', status=1) }}"><button class="layui-btn layui-btn-normal">查看未读消息</button></a>
        {%- endif %}
        <button class="layui-btn layui-btn-danger layui-hide" id="LAY_delallmsg">清空全部消息</button>
        <div id="LAY_minemsg" style="margin-top: 10px;"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
layui.use(["jquery", "util", "layer", "laytpl"], function(){
    var $ = layui.jquery, util = layui.util, layer = layui.layer, laytpl = layui.laytpl;
    laytpl.config({
        open: '<%',
        close: '%>'
    });
    var delAll = $('#LAY_delallmsg'),
    minemsg = $('#LAY_minemsg'),
    msgtpl = '<%# var len = d.data.length;var msgtypemap = {system: "系统消息", product: "产品消息"};var msgstatusmap = {1: "未读", 0: "已读"};var msgmarkmap = {0: "未读", 1: "已读"};\
    if(len === 0){ %>\
      <div class="fly-none">您暂时没有{%- set status = request.args.status or 1 %}{%- if status in (1, "1") %}未读{%- elif status in (0, "0") %}已读{%- else %}{%- endif %}消息</div>\
    <%# } else { %>\
      <ul class="mine-msg">\
      <%# for(var i = 0; i < len; i++){ %>\
        <li data-id="<% d.data[i].msgId %>" data-status="<% d.data[i].msgStatus %>">\
          <blockquote class="layui-elem-quote"><% d.data[i].msgContent %></blockquote>\
          <p><span><% msgstatusmap[d.data[i].msgStatus] %>的<% msgtypemap[d.data[i].msgType] %>：<% layui.util.timeAgo(d.data[i].msgTime*1000) %></span><a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary fly-mark">标记为<% msgmarkmap[d.data[i].msgStatus] %></a><a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger fly-remove">删除消息</a></p>\
        </li>\
      <%# } %>\
      </ul>\
    <%# } %>',
    delEnd = function(clear){
        // 当clear为true时或者没有消息列表时清空并显示没有消息
        if(clear || minemsg.find('.mine-msg li').length === 0){
            minemsg.html('<div class="fly-none">您暂时没有消息</div>');
        }
    };
    //获取用户消息列表
    $.ajax({
        url: "{{ url_for('api.usermsg', Action='getList', msgStatus=request.args.status or 1, desc=true)|safe }}",
        success: function(res) {
            if (res.code==0) {
                var html = laytpl(msgtpl).render(res);
                minemsg.html(html);
                if(res.data.length > 0){
                    delAll.removeClass('layui-hide');
                }
            } else {
                popup("拉取用户消息失败：" + res.msg);
            }
        }
    });
    //标记消息状态
    minemsg.on('click', '.mine-msg li .fly-mark', function(){
        var othis = $(this).parents('li'), id = othis.attr('data-id'), status = parseInt(othis.attr('data-status'));
        var msgstatusmap = {1: "未读", 0: "已读"}, antimsgstatusmap = {0: "未读", 1: "已读"};
        $.ajax({
            url: "{{ url_for('api.usermsg', Action='markMessage') }}",
            method: "post",
            data: {msgId: id},
            success: function(res) {
                if (res.code==0) {
                    popup("标记消息成功");
                    othis.remove();
                    delEnd();
                    /*
                    othis.find('span').text(othis.find('span').text().replace(msgstatusmap[status], antimsgstatusmap[status]));
                    othis.find('a.fly-mark').text(othis.find('a.fly-mark').text().replace(antimsgstatusmap[status], msgstatusmap[status]));
                    if (status==1) {
                        //这是一条未读消息，标记后，span处设置为已读、fly-mark处标记为未读
                        othis.attr('data-status', 0);
                    } else {
                        //这是一条已读消息，标记后，span处设置为未读、fly-mark处标记为已读
                        othis.attr('data-status', 1);
                    }
                    */
                } else {
                    popup("标记消息失败："+res.msg);
                }
            }
        });
    });
    //删除一条消息
    minemsg.on('click', '.mine-msg li .fly-remove', function(){
        var othis = $(this).parents('li'), id = othis.attr('data-id');
        $.ajax({
            url: "{{ url_for('api.usermsg', Action='delMessage') }}",
            method: "delete",
            data: {msgId: id},
            success: function(res) {
                if (res.code==0) {
                    popup("删除消息成功");
                    othis.remove();
                    delEnd();
                } else {
                    popup("删除消息失败："+res.msg);
                }
            }
        });
    });
    //删除全部消息
    delAll.on('click', function(){
        var othis = $(this);
        layer.confirm('确定清空消息吗？', function(index){
            $.ajax({
                url: "{{ url_for('api.usermsg', Action='clearMessage') }}",
                method: "delete",
                success: function(res) {
                    if (res.code==0) {
                        layer.close(index);
                        othis.addClass('layui-hide');
                        delEnd(true);
                        popup("清空消息成功");
                    } else {
                        popup("清空消息失败："+res.msg);
                    }
                }
            });
        });
    });
});
</script>
{% endblock %}
