{% extends "user/base.html" %}

{% block title %}我的消息{% endblock %}

{% block userpanel %}
<div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
        {%- set status = request.args.status or 1 %}
        {%- if status in (1, '1') %}
        <a href="{{ url_for('front.usermsg', status=0) }}"><button class="layui-btn layui-btn-normal">查看已读消息</button></a>
        {%- elif status in (0, '0') %}
        <a href="{{ url_for('front.usermsg', status=1) }}"><button class="layui-btn layui-btn-normal">查看未读消息</button></a>
        {%- else %}
        <a href="{{ url_for('front.usermsg', status=0) }}"><button class="layui-btn layui-btn-normal">查看已读消息</button></a>
        <a href="{{ url_for('front.usermsg', status=1) }}"><button class="layui-btn layui-btn-normal">查看未读消息</button></a>
        {%- endif %}
        <button class="layui-btn layui-btn-danger layui-hide" id="LAY_delallmsg">清空全部消息</button>
        <div id="LAY_minemsg" style="margin-top: 10px;"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    layui.use("message");
</script>
{% endblock %}
