{% extends "public/base.html" %}

{% block baseTitle %}
    {% block title %}{% endblock %} - SaintIC Passport
{% endblock %}

{% block baseHead %}
    {% block head %}{% endblock %}
    {% block resethtmlbody %}
    <style type="text/css">
        html,body{overflow-x: hidden;}
        html body{margin-top: 18px;}
    </style>
    {%- endblock %}
{% endblock %}

{% block baseHtml %}
    {% block topNav %}{% endblock %}
    <div class="layui-container">
        {% block container %}{% endblock %}
    </div>
{% endblock baseHtml %}

{% block baseScript %}
    {% block script %}{% endblock %}
{% endblock baseScript %}
