<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %} - SaintIC Passport</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    {% include "public/header.html" %}
    {% block head %}{% endblock %}
    {% block resethtmlbody %}
    <style type="text/css">
        html,body{overflow-x: hidden;}
        html body{margin-top: 18px;}
    </style>
    {%- endblock %}
</head>
<body>
    {% block topNav %}{% endblock %}
    <div class="layui-container">
        {% block container %}{% endblock %}
    </div>
    <script src="/static/layui/layui.js"></script>
    {% block script %}{% endblock %}
</body>
</html>