{% extends "user/base.html" %}

{% block title %}安全设置{% endblock %}

{% block userpanel %}
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="securityTab">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="session">会话列表</li>
                <li lay-id="loginHistory">登录历史</li>
                <!--<li lay-id="securitySetting">安全设置</li>-->
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show">
                    <div id="SessionShow"></div>
                </div>
                <div class="layui-tab-item">
                    <table id="loginHistory"></table>
                </div>
                <div class="layui-tab-item">
                </div>
            </div>
        </div> 
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    layui.use("security");
</script>
{% endblock %}