{% extends "user/base.html" %}

{% block title %}帐号设置{% endblock %}

{% block userpanel %}
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">我的资料</li>
                <li lay-id="avatar">头像</li>
                <li lay-id="pass">密码</li>
                <li lay-id="bind">帐号绑定</li>
                <!--<li lay-id="like">偏好设置</li>-->
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    <form method="post">
                        <div class="layui-form-item">
                            <label for="nick_name" class="layui-form-label">个性昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="nick_name" name="nick_name" required lay-verify="required|nick_name" lay-verType="tips" autocomplete="off" value="" class="layui-input layui-disabled" placeholder='起一个喜欢的别名吧' disabled="disabled">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                24h内仅能修改一次，其他用户可以艾特你的昵称哦
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="domain_name" class="layui-form-label">个性域名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="domain_name" name="domain_name" value="" class="layui-input layui-disabled" placeholder='独一无二的主页标识' lay-verify="domain_name" lay-verType="tips" disabled="disabled">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                仅能修改一次，您的个性域名是：{{ CONFIG.SYSTEM.PersonalizedDomainNamePrefix }}<b id="domain_name_suffix"></b>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="birthday" class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" id="birthday" name="birthday" value="" class="layui-input" placeholder='降临世界的日子'>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="location" class="layui-form-label">城市</label>
                            <div class="layui-input-inline">
                                <input type="text" id="location" name="location" value="" class="layui-input" placeholder='生活的地方'>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-inline">
                                <input type="radio" id="gender2" name="gender" value=2 title="保密">
                                <input type="radio" id="gender1" name="gender" value=1 title="男">
                                <input type="radio" id="gender0" name="gender" value=0 title="女">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="signature" class="layui-form-label">签名</label>
                            <div class="layui-input-block">
                                <textarea placeholder="随便写些什么刷下存在感" id="signature"  name="signature" autocomplete="off" class="layui-textarea" style="height: 80px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="profile" lay-submit id="profileSubmit">确认修改</button>
                        </div>
                    </form>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <div class="avatar-add">
                            <p>建议尺寸168*168，支持jpg、jpeg、png、gif，最大不能超过1MB</p>
                            <button type="button" class="layui-btn upload-img" id="uploadAvatar"><i class="layui-icon">&#xe67c;</i>上传头像</button>
                            <img id="avatar" src="/static/images/avatar/default.png">
                        </div>
                    </div>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <form action="" method="">
                        <div class="layui-form-item">
                            <label for="nowpass" class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="nowpass" name="nowpass" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="newpass" class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="newpass" name="newpass" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到30个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="repass" class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="repass" name="repass" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="password" lay-submit id="passwordSubmit">确认修改</button>
                        </div>
                    </form>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <blockquote class="layui-elem-quote">我绑定的第三方社会化帐号</blockquote>
                    <ul class="app-bind">
                        {% if CONFIG.PLUGINS.qq.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="oauth-qq">
                            <img src="/static/images/qq.png">
                            <span id="oauth-qq-tip">尚未绑定，绑定后可以使用QQ帐号登录，您可以<a href="{{ url_for('oauth2_qq.login') }}" type="qq">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.weibo.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="oauth-weibo">
                            <img src="/static/images/weibo.png">
                            <span id="oauth-weibo-tip">尚未绑定，绑定后可以使用微博帐号登录，您可以<a href="{{ url_for('oauth2_weibo.login') }}" type="weibo">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.github.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="oauth-github">
                            <img src="/static/images/github.png">
                            <span id="oauth-github-tip">尚未绑定，绑定后可以使用GitHub帐号登录，您可以<a href="{{ url_for('oauth2_github.login') }}" type="github">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.coding.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="oauth-coding">
                            <img src="/static/images/coding.png">
                            <span id="oauth-coding-tip">尚未绑定，绑定后可以使用Coding帐号登录，您可以<a href="{{ url_for('oauth2_coding.login') }}" type="coding">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.gitee.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="oauth-gitee">
                            <img src="/static/images/gitee.png">
                            <span id="oauth-gitee-tip">尚未绑定，绑定后可以使用码云帐号登录，您可以<a href="{{ url_for('oauth2_gitee.login') }}" type="gitee">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.baidu.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="oauth-baidu">
                            <img src="/static/images/baidu.png">
                            <span id="oauth-baidu-tip">尚未绑定，绑定后可以使用百度帐号登录，您可以<a href="{{ url_for('oauth2_baidu.login') }}" type="baidu">立即绑定</a></span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <form method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">语言</label>
                            <div class="layui-input-inline">
                                <select name="language" lay-filter="language">
                                    <option value="zh-CN" selected="selected">中文(简体)</option>
                                    <option value="zh-HK" disabled="disabled">中文(繁体)</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="like" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
layui.use(["element", "form", "layer", "laydate", "util", "upload"], function(){
    var element = layui.element, form = layui.form, layer = layui.layer, $ = layui.jquery, laydate = layui.laydate, util = layui.util, upload = layui.upload;
    var profile = {
        nick_name: "个性昵称",
        domain_name: "个性域名",
        birthday: "生日",
        location: "城市",
        gender: "性别",
        signature: "签名"
    };
    var namemap = {
        github: "GitHub",
        qq: "QQ",
        wechat: "微信",
        baidu: "百度",
        weibo: "微博",
        coding: "Coding",
        gitee: "码云"
    }
    function setCookie(name, value) {
        document.cookie=name + "=" + escape(value) + "; path=/";
    }
    //显示当前tab
    if(location.hash){
        element.tabChange('user', location.hash.replace(/^#/, ''));
    }
    //监听tab切换
    element.on('tab(user)', function(){
        var othis = $(this), layid = othis.attr('lay-id');
        if(layid){
            location.hash = layid;
        }
    });
    //获取用户信息
    var userdata = layui.cache.user;
    if (userdata) {
        $('#nick_name').val(userdata.nick_name);
        $('#domain_name').val(userdata.domain_name);
        if (userdata.domain_name) {
            $('#domain_name_suffix').html(userdata.domain_name);
        }
        if (userdata.lock.nick_name === false) {
            $('#nick_name').removeAttr("disabled");
            $('#nick_name').removeClass("layui-disabled");
        }
        if (userdata.lock.domain_name === false) {
            $('#domain_name').removeAttr("disabled");
            $('#domain_name').removeClass("layui-disabled");
        }
        if (userdata.birthday) {
            userdata.birthday = util.toDateString(userdata.birthday*1000, "yyyy-MM-dd");
            $('#birthday').val(userdata.birthday);
        }
        $('#location').val(userdata.location);
        if (userdata.gender===1) {
            $("#gender1").attr("checked","checked");
        } else if (userdata.gender===0) {
            $("#gender0").attr("checked","checked");
        } else if (userdata.gender===2) {
            $("#gender2").attr("checked","checked");
        }
        $('#signature').val(userdata.signature);
        form.render();
        //更新头像
        $('#avatar').attr('src', userdata.avatar);
        //社交账号绑定
        var unbindUrl = "{{ url_for('front.unbind') }}?identity_name=";
        for (var index = 0; index < userdata.bind.length ; index++) {
            var identity_type = userdata.bind[index].identity_type;
            $("#oauth-"+identity_type).addClass("app-havebind");
            $("#oauth-"+identity_type+"-tip").html('已成功绑定，您可以使用'+namemap[identity_type]+'帐号直接登录，当然，您也可以<a href="'+unbindUrl+identity_type+'" class="acc-unbind" type="'+identity_type+'">解除绑定</a>');
        }
    }
    //初始化生日输入框时间选择器
    laydate.render({
        elem: '#birthday'
        ,theme: "molv"
        ,done: function(value, date, endDate){
            $('#birthday').val(value);
        }
    });
    //实时显示个性域名
    $('#domain_name').on("input propertychange", function() {
        var value = $(this).val();
        $('#domain_name_suffix').html(value);
    });
    //表单自定义校验
    form.verify({
        nick_name: function(value, item){ //value：表单的值、item：表单的DOM对象
            if (value) {
                if (safeCheck(value)===false) {
                    return '昵称存在违规特殊字符';
                }
                if (value.length<2||value.length>49) {
                    return '昵称长度不能小于2或大于49';
                }
            }
        },
        domain_name: function(value, item){ //value：表单的值、item：表单的DOM对象
            if (value) {
                if(!new RegExp("^[a-z][a-z0-9_\\s·]+$").test(value)){
                    return '个性域名不合法：以英文开头全部小写且无特殊字符';
               }
               if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '个性域名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '个性域名不能全为数字';
                }
                if (value.length<5||value.length>32) {
                    return '个性域名长度不能小于5或大于32';
                }
            }
        },
        nowpass: function(value, item) {
            if (!new RegExp("/^[\S]{6,30}$/").test(value)) {
                return '密码必须6到30位，且不能出现空格';
            }
        },
        newpass: function(value, item) {
            if (!new RegExp("/^[\S]{6,30}$/").test(value)) {
                return '密码必须6到30位，且不能出现空格';
            }
        },
        repass: function(value, item) {
            var newpass = $('#newpass').val();
            if (newpass != value) {
                return '两次新密码输入不一致';
            }
        }
    });
    //监听修改资料提交
    form.on('submit(profile)', function(data){
        var field = data.field; //当前容器的全部表单字段，键值对形式：{name: value}
        $.ajax({
            url: "{{ url_for('api.userprofile', Action='profile') }}",
            method: "PUT",
            data: field,
            beforeSend: function() {
                //禁用按钮防止重复提交
                $("#profileSubmit").attr({ disabled: "disabled" });
                $('#profileSubmit').addClass("layui-disabled");
            },
            success: function(res) {
                console.log(res);
                if (res.code==0) {
                    popup("已修改基本资料");
                    //更新缓存
                    for (var key in field) {
                        layui.cache.user[key] = field[key];
                    }
                    //设置禁用
                    if (res.lock.nick_name) {
                        $("#nick_name").attr({ disabled: "disabled" });
                        $('#nick_name').addClass("layui-disabled");
                    }
                    if (res.lock.domain_name) {
                        $("#domain_name").attr({ disabled: "disabled" });
                        $('#domain_name').addClass("layui-disabled");
                    }
                } else {
                    var tip = res.msg;
                    var err = '';
                    for (var index in res.invalid) {
                        err += profile[res.invalid[index]] + " ";
                    }
                    popup(tip+"："+err);
                }
            },
            error: function(error){
                popup("服务器异常！");
            },
            complete: function() {
                $('#profileSubmit').removeAttr("disabled");
                $('#profileSubmit').removeClass("layui-disabled");
            }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
    //上传头像
    upload.render({
        elem: '#uploadAvatar'
        ,url: "{{ url_for('api.userupload', callableAction='UpdateAvatar') }}"
        ,method: "post"
        ,accept: "images"
        ,exts: "jpg|png|gif|jpeg"
        ,size: 1024
        ,auto: true
        ,before: function(){
            layer.load();
        }
        ,done: function(res){
            if(res.code == 0){
                popup("已更新头像");
                layui.cache.user.avatar = res.imgUrl;
                $('#avatar').attr('src', res.imgUrl);
                $('#nav_avatar').attr('src', res.imgUrl);
            } else {
                popup(res.msg, {icon: 5});
            }
            layer.closeAll('loading');
        }
        ,error: function(){
            layer.closeAll('loading');
        }
    });
    //监听修改密码提交
    form.on('submit(password)', function(data){
        var field = data.field; //当前容器的全部表单字段，键值对形式：{name: value}
        $.ajax({
            url: "{{ url_for('api.userprofile', Action='password') }}",
            method: "PUT",
            data: field,
            beforeSend: function() {
                //禁用按钮防止重复提交
                $("#passwordSubmit").attr({ disabled: "disabled" });
                $('#passwordSubmit').addClass("layui-disabled");
            },
            success: function(res) {
                console.log(res);
                if (res.code==0) {
                    popup("已修改密码");
                } else {
                    popup("修改密码失败：" + res.msg);
                }
            },
            error: function(error){
                popup("服务器异常！");
            },
            complete: function() {
                $('#passwordSubmit').removeAttr("disabled");
                $('#passwordSubmit').removeClass("layui-disabled");
            }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
    //监听偏好设置提交
    form.on('submit(like)', function(data){
        var language = data.field.language;
        if (language) {
            setCookie("locale", language);
        }
        popup("已更新偏好设置");
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
});
</script>
{% endblock %}