{% extends "user/base.html" %}

{% block title %}帐号设置{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/cropper.min.css">
    <link rel="stylesheet" href="/static/css/ImgCropping.css">
{% endblock %}

{% block userpanel %}
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">我的资料</li>
                <li lay-id="avatar">头像</li>
                <li lay-id="pass">密码</li>
                <li lay-id="bind">帐号绑定</li>
                <li lay-id="like">偏好设置</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    <form method="post">
                        <div class="layui-form-item">
                            <label for="nick_name" class="layui-form-label">个性昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="nick_name" name="nick_name" required lay-verify="required|nick_name" lay-verType="tips" autocomplete="off" value="" class="layui-input layui-disabled" placeholder='起一个喜欢的别名吧' disabled="disabled">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                24h内仅能修改一次，其他用户可以艾特你的昵称哦
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="domain_name" class="layui-form-label">个性域名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="domain_name" name="domain_name" value="" class="layui-input layui-disabled" placeholder='独一无二的主页标识' lay-verify="domain_name" lay-verType="tips" disabled="disabled">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                仅能修改一次，您的个性域名是：{{ CONFIG.SYSTEM.PersonalizedDomainNamePrefix }}<b id="domain_name_suffix"></b>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="birthday" class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" id="birthday" name="birthday" value="" class="layui-input" placeholder='降临世界的日子'>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="location" class="layui-form-label">城市</label>
                            <div class="layui-input-inline">
                                <input type="text" id="location" name="location" value="" class="layui-input" placeholder='生活的地方'>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-inline">
                                <input type="radio" id="gender2" name="gender" value=2 title="保密">
                                <input type="radio" id="gender1" name="gender" value=1 title="男">
                                <input type="radio" id="gender0" name="gender" value=0 title="女">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="signature" class="layui-form-label">签名</label>
                            <div class="layui-input-block">
                                <textarea placeholder="随便写些什么刷下存在感" id="signature"  name="signature" autocomplete="off" class="layui-textarea" style="height: 80px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="profile" lay-submit id="profileSubmit">确认修改</button>
                        </div>
                    </form>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <div class="avatar-add">
                            <p>建议尺寸168*168，支持jpg、jpeg、png，最大不能超过2MB</p>
                            <button type="button" class="layui-btn upload-img" id="uploadAvatar"><i class="layui-icon">&#xe67c;</i>更换头像</button>
                            <img id="avatar">
                        </div>
                        <!--图片裁剪框 start-->
                        <div style="display: none" class="tailoring-container">
                            <div class="tailoring-content">
                                <div class="tailoring-content-one">
                                    <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden">
                                        选择图片
                                    </label>
                                    <div class="close-tailoring">×</div>
                                </div>
                                <div class="tailoring-content-two">
                                    <div class="tailoring-box-parcel">
                                        <img id="tailoringImg">
                                    </div>
                                    <div class="preview-box-parcel">
                                        <p>图片预览：</p>
                                        <div class="square previewImg"></div>
                                        <div class="circular previewImg"></div>
                                    </div>
                                </div>
                                <div class="tailoring-content-three">
                                    <button class="l-btn cropper-reset-btn">复位</button>
                                    <button class="l-btn cropper-rotate-btn">旋转</button>
                                    <button class="l-btn cropper-scaleX-btn">换向</button>
                                    <button class="l-btn sureCut" id="sureCut">确定剪裁并上传头像</button>
                                </div>
                            </div>
                        </div>
                        <!--图片裁剪框 end-->
                    </div>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <blockquote class="layui-elem-quote">修改密码适用于使用邮箱注册或已绑定了的用户</blockquote>
                    <form action="" method="">
                        <div class="layui-form-item">
                            <label for="nowpass" class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="nowpass" name="nowpass" required lay-verify="required|nowpass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="newpass" class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="newpass" name="newpass" required lay-verify="required|newpass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到30个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="repass" class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="repass" name="repass" required lay-verify="required|repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="password" lay-submit id="passwordSubmit">确认修改</button>
                        </div>
                    </form>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <blockquote class="layui-elem-quote">我绑定的本地化帐号</blockquote>
                    <ul class="app-bind">
                        <li class="fly-msg" id="auth-email">
                            <i class="saintic-icon saintic-icon-email"></i>
                            <span id="auth-email-tip">尚未绑定，绑定后可以使用邮箱帐号登录，您可以<a href="#" type="qq">立即绑定</a></span>
                        </li>
                        <li class="fly-msg" id="auth-mobile">
                            <i class="saintic-icon saintic-icon-mobilephone"></i>
                            <span id="auth-mobile-tip">尚未绑定，绑定后可以使用手机号登录，并且完成实名认证，您可以<a href="#" type="qq">立即绑定</a></span>
                        </li>
                    </ul>
                    <blockquote class="layui-elem-quote">我绑定的第三方社会化帐号</blockquote>
                    <ul class="app-bind">
                        {% if CONFIG.PLUGINS.qq.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="auth-qq">
                            <i class="saintic-icon saintic-icon-qq"></i>
                            <span id="auth-qq-tip">尚未绑定，绑定后可以使用QQ帐号登录，您可以<a href="{{ url_for('oauth2_qq.login') }}" type="qq">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.weibo.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="auth-weibo">
                            <i class="saintic-icon saintic-icon-weibo"></i>
                            <span id="auth-weibo-tip">尚未绑定，绑定后可以使用微博帐号登录，您可以<a href="{{ url_for('oauth2_weibo.login') }}" type="weibo">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.github.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="auth-github">
                            <i class="saintic-icon saintic-icon-github"></i>
                            <span id="auth-github-tip">尚未绑定，绑定后可以使用GitHub帐号登录，您可以<a href="{{ url_for('oauth2_github.login') }}" type="github">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.coding.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="auth-coding">
                            <i class="saintic-icon saintic-icon-coding"></i>
                            <span id="auth-coding-tip">尚未绑定，绑定后可以使用Coding帐号登录，您可以<a href="{{ url_for('oauth2_coding.login') }}" type="coding">立即绑定</a></span>
                        </li>
                        {% endif %}
                        {% if CONFIG.PLUGINS.gitee.ENABLE in ("true", "True", True) %}
                        <li class="fly-msg" id="auth-gitee">
                            <i class="saintic-icon saintic-icon-gitee"></i>
                            <span id="auth-gitee-tip">尚未绑定，绑定后可以使用码云帐号登录，您可以<a href="{{ url_for('oauth2_gitee.login') }}" type="gitee">立即绑定</a></span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <form method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">语言</label>
                            <div class="layui-input-inline">
                                <select name="language" lay-filter="language">
                                    <option value="zh-CN" selected="selected">中文(简体)</option>
                                    <option value="zh-HK" disabled="disabled">中文(繁体)</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="like" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/cropper.min.js"></script>
<script type="text/javascript">
    layui.use("setting");
</script>
{% endblock %}