{% extends "user/base.html" %}

{% block title %}本地化账号绑定{% endblock %}

{% block userpanel %}
<div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
            <li class="layui-this">绑定本地化账号</li>
        </ul>
        <div class="layui-tab-content"  style="padding: 20px 0;">
            <ul class="layui-form">
                <li class="layui-form-li" id="LAY_BindInfoEmail">
                    <label for="activate">您的邮箱：</label>
                    <span class="layui-form-text">
                        <em style="color:#c00;">（尚未绑定）</em>
                    </span>
                </li>
                <li class="layui-form-li" id="LAY_BindInfoPhone">
                    <label for="activate">您的手机：</label>
                    <span class="layui-form-text">
                        <em style="color:#c00;">（尚未绑定）</em>
                    </span>
                </li>
                <li class="layui-form-li" style="margin-top: 20px; line-height: 26px;">
                    <blockquote class="layui-elem-quote">
                        温馨提示：绑定手机后即完成实名认证，昵称后将显示&nbsp;<i class="saintic-icon saintic-icon-realname-logo layui-hide-xs nickname-realname" title="已实名认证"></i>&nbsp;标志！
                        <p>
                            <scan style="color: #1E9FFF"><i class="saintic-icon saintic-icon-info"></i>关于验证码的帮助提示</scan>
                            <ol>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 验证码5分钟内有效，请在此期间完成操作。</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 如果您的邮箱或手机无法收到验证码(请注意是否标志为垃圾邮件或短信)，请5分钟后重试。</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 如果您重试后仍然无法收到验证码，请联系：<a href="mailto:{{ Email }}">{{ Email }}</a></li>
                            </ol>
                        </p>
                        <p>
                            <scan style="color: #1E9FFF"><i class="saintic-icon saintic-icon-info"></i>关于密码的帮助提示</scan>
                            <ol>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 若您未绑定过本地账号，此密码为您使用本地账号登录系统的密码！</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 若您已绑定过本地账号，如邮箱、手机等，此密码为已绑定账号的密码！</li>
                            </ol>
                        </p>
                        <p>
                            <scan style="color: #1E9FFF"><i class="saintic-icon saintic-icon-info"></i>关于绑定的帮助提示</scan>
                            <ol>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 提交已成功绑定的账号类型时将会修改已绑定的账号。</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 提交尚未绑定的账号类型时将会绑定账号。</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例，已经绑定了邮箱a@example.com，再输入绑定的账号为邮箱格式时，假设为b@example.com，提交后会修改原邮箱，此时绑定的邮箱为a@example.com。</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例，尚未绑定手机，输入绑定的账号为手机格式时，假设为xxx，提交后直接完成实名认证并且绑定的手机为xxx。</li>
                            </ol>
                        </p>
                    </blockquote>
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <label for="nick_name" class="layui-form-label">账号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="account" name="account" required lay-verify="required" lay-verType="tips" value="" class="layui-input" placeholder='绑定的邮箱或手机号' autofocus="autofocus" maxlength="50">
                            </div>
                        </div>
                        <input type="hidden" name="scene" id="scene" value="bindLauth">
                        <div class="layui-form-item">
                            <label for="nick_name" class="layui-form-label">验证码</label>
                            <div class="layui-input-inline">
                                <input type="password" style={{position: 'absolute', top: '-999px'}}/>
                                <input class="layui-input" name="vcode" placeholder="验证码" id="vcode"  lay-verify="required" lay-verType="tips" type="text" maxlength="6" autocomplete="off">
                            </div>
                            <div class="layui-form-mid">
                                <button class="layui-btn layui-btn layui-btn-xs" id="sms-tip-msg">获取验证码</button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="nick_name" class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="password" placeholder="本地化账号密码" lay-verify="required|passwd" lay-verType="tips" type="password">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请阅读上方关于密码的帮助提示！</div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn " lay-submit="" lay-filter="lauthBind" id="submitbutton">提交表单</button>
                            <button type="reset" class="layui-btn layui-btn-normal">重置内容</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
layui.use(["passport", "form", "layer", "util"], function(){
    var passport = layui.passport, form = layui.form, layer = layui.layer, $ = layui.jquery;
    //表单自定义校验
    form.verify({
        passwd: function(value, item) { //value：表单的值、item：表单的DOM对象
            if (value.length < 6 || value.length > 30) {
                return '密码长度应在6到30个字符之间！';
            }
        }
    });
    //监听编辑应用提交
    form.on('submit(lauthBind)', function(data){
        field = data.field; //当前容器的全部表单字段，键值对形式：{name: value}
        passport.ajax("{{ url_for('api.userprofile', Action='bindLauth') }}", function(res) {
            var msg = "绑定成功";
            // 实名提示
            if (res.show_realname_tip === true) {
                msg += res.set_realname.code === 0 ? ", 已完成实名认证！" : ", 已绑定手机，但实名失败，请重试或反馈此问题！";
            }
            layer.msg(msg, {
                icon: 1,
                time: 5000
            }, function() {
                window.location.reload();
            });
        }, {
            data: data.field,
            method: "post",
            msgprefix: false,
            beforeSend: function() {
                $("#submitbutton").attr({
                    disabled: "disabled"
                });
                $('#submitbutton').addClass("layui-disabled");
            },
            complete: function() {
                $('#submitbutton').removeAttr("disabled");
                $('#submitbutton').removeClass("layui-disabled");
            },
            fail: function(res) {
                layer.msg(res.msg, {
                    icon: 7,
                    time: 3000
                });
            }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
});
</script>
{% endblock %}
