<!doctype html>
<html lang="en">
<head>
    <title>SaintIC Passport Center</title>
    <meta  charset="UTF-8">
    <meta  name="keywords" content="SaintIC,Passport,SSO">
    <meta  http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link  href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
    <link  href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link  href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    {% block head %}{% endblock %}
</head>
<body class="login_bj" >
<div class="zhuce_body">
    <div class="logo">
        <a href="{{ url_for('index') }}">PASSPORT</a>
    </div>
    <div class="zhuce_kong login_kuang">
        <div class="zc">
            <div class="bj_bai">
                {% block form %}{% endblock %}
            </div>
            <div class="bj_right">
                <p>使用以下第三方账号登录</p>
                {%- if enable_qq %}
                    <a class="zhuce_qq" href="{{ url_for('plugins.thirdLogin.qq', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}">QQ</a>
                {%- endif -%}
                {%- if enable_weibo %}
                    <a class="zhuce_wb" href="{{ url_for('plugins.thirdLogin.weibo', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}">Weibo</a>
                {%- endif -%}
                {%- if enable_github %}
                    <a class="zhuce_github" href="{{ url_for('plugins.thirdLogin.github', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}">GitHub</a>
                {%- endif -%}
                {#- if enable_instagram %}
                    <a class="zhuce_instagram" href="{{ url_for('plugins.thirdLogin.instagram', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}">Instagram</a>
                {%- endif #}
                {% block third %}{% endblock %}
            </div>
        </div>
        <p>Copyright &copy; 2016 - 2016 <a href="http://www.saintic.com" style="color: white">SaintIC</a>.&nbsp; All rights reserved.</p>
    </div>
</div>
</body>
</html>