<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

<p>
{%- with messages = get_flashed_messages() %}
    {%- if messages %}
        {{ " ".join(messages) }}
    {%- endif %}
{%- endwith %}
</p>

{% if g.signin %}
<p>UID:&nbsp;&nbsp;{{ g.uid }}</p>
<a href="{{ url_for('front.userset') }}">用户中心</a>

<a href="{{ url_for('front.logout') }}">注销</a>
{% else %}
<a href="{{ url_for('front.signIn') }}">登录</a>&nbsp;或&nbsp;
<a href="{{ url_for('front.signUp') }}">注册</a>
{% endif %}

<p><a href="{{ url_for('oauth2_github.login') }}" title="使用GitHub账号登录">使用GitHub登录或绑定</a></p>

<p><a href="{{ url_for('oauth2_qq.login') }}" title="使用QQ账号登录">使用QQ登录或绑定</a></p>

<p><a href="{{ url_for('oauth2_weibo.login') }}" title="使用微博账号登录">使用微博登录或绑定</a></p>

<p><a href="{{ url_for('oauth2_coding.login') }}" title="使用Coding账号登录">使用Coding登录或绑定</a></p>

</body>
</html>