<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

<p>
            {%- with messages = get_flashed_messages() %}
                {%- if messages %}
                    {{ " ".join(messages) }}
                {%- endif %}
            {%- endwith %}
</p>

{% if g.signin %}
<a href="{{ url_for('logout') }}">注销</a>
{% else %}
<a href="{{ url_for('signIn') }}">登录</a>&nbsp;或&nbsp;
<a href="{{ url_for('signUp') }}">注册</a>&nbsp;或&nbsp;
{% endif %}

<p><a href="{{ url_for('oauth2_github.login') }}">注册或绑定github</a></p>
</body>
</html>