<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>SaintIC Passport Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ url_for('static', filename='img/public/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='img/public/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/my.js') }}" type="text/javascript"></script>
</head>
<body>

    <div class="login">
        <h1>{{ request.args.get("app") or "SaintIC Passport" }}</h1>
        <form action="" method="post" id="UserLoginFormId">
            <p style="color:red; text-align: center; width: auto" id="login_error"></p>
            <input type="text" id="username" name="username" placeholder="username" required>
            <input type="password" id="password" name="password" placeholder="password" required>
            <p>Remember Me <input style="width: auto" type="checkbox" id="remember" name="remember" value='true' checked></p>
            <input onclick="postForm('{{ url_for('_auth') }}', '{% if g.refererUrl %}{{ g.refererUrl }}{% else %}{{ url_for('index') }}{% endif %}')" type="button" class="btn btn-primary btn-block btn-large" value="登录">
            <div class="connect">
                <p>第三方社会化账号快捷登录:<br/>
                    <a class="qq" href="{{ url_for('login_qq') }}"></a>
                    <a class="weibo" href="#"></a>
                    <a class="fb" href="#"></a>
                </p>
            </div>
        </form>
        <div style="text-align:center;">
            <a href="{{ url_for('index') }}">首页</a>&nbsp;
            <a href="http://www.saintic.com/" target="_blank">SaintIC</a>&nbsp;
            <a href="http://github.com/saintic/passport" target="_blank">GitHub</a>&nbsp;
            <p>Copyright © 2016 - 2016<br/> SaintIC Inc. All rights reserved.</p>
        </div>
    </div>

</body>
</html>