{% extends "base.html" %}
{% block form %}
            <h3>SaintIC Passport Sign In</h3>
            <form action="{{ url_for('login', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}" method="post">
                <input name="username" type="text" class="kuang_txt" placeholder="username">
                <input name="password" type="password" class="kuang_txt" placeholder="password">
                <div>
                    <a href="#">忘记密码？</a><input name="remember" type="checkbox" value="true" checked><span>记住我</span> 
                </div>
                <input name="登录" type="submit" class="btn_zhuce" value="登录">
            </form>
{% endblock %}

{% block third %}
                <p>没有账号？<a href="#">立即注册</a></p>
{% endblock %}
