{% extends "base.html" %}
{% block form %}
        <form action="{{ url_for('login', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}" method="post">
            <p style="color:red; text-align: center; width: auto" id="login_error"></p>
            <input type="text" id="username" name="username" placeholder="用户名" required>
            <input type="password" id="password" name="password" placeholder="登录密码" required>
            <p>Remember me for 30 days<input style="width: auto" type="checkbox" id="remember" name="remember" value='true' checked></p>
            <input type="submit" class="btn btn-primary btn-block btn-large" value="登录">
            <div class="connect">
                <scan>第三方社会化账号快捷登录:<br/>
                    {% if enable_qq %}
                        <abbr title="使用QQ账号登录"><a class="qq" href="{{ url_for('plugins.thirdLogin.qq', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}"></a></abbr>
                    {% endif %}
                    {% if enable_weibo %}
                        <abbr title="使用微博账号登录"><a class="weibo" href="{{ url_for('plugins.thirdLogin.weibo', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}"></a></abbr>
                    {% endif %}
                    {% if enable_github %}
                        <abbr title="使用GitHub账号登录"><a class="github" href="{{ url_for('plugins.thirdLogin.github', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}"></a></abbr>
                    {% endif %}
                    {% if enable_instagram %}
                        <abbr title="使用Instagram账号登录"><a class="instagram" href="{{ url_for('plugins.thirdLogin.instagram', sso=request.args.get('sso'), sso_p=request.args.get('sso_p'), sso_r=request.args.get('sso_r'), sso_t=request.args.get('sso_t')) }}"></a></abbr>
                    {% endif %}
                </scan>
            </div>
        </form>
{% endblock %}
{% block footer %}
            <a href="{{ url_for('SignUp') }}">免费注册</a>&nbsp;
{% endblock %}

