{% extends "auth/base.html" %}

{% block form %}
    <div class="zhuce_kong">
    	<div class="zc">
        	<div class="bj_bai">
                <h3>欢迎注册</h3>
       	  	    <form action="" method="get" onsubmit="return submitForm();">
                    <input name="" type="text" class="kuang_txt phone" placeholder="手机号">
                    <input name="" type="text" class="kuang_txt email" placeholder="邮箱">
                    <input name="" type="text" class="kuang_txt possword" placeholder="密码">
                    <input name="" type="text" class="kuang_txt possword" placeholder="再次输入密码">
                    <!--登录验证码-->
                    <!--
                    <input type="text" id="code_input" class="kuang_txt yanzm" required="required" placeholder="请输入验证码" />
                    <div id="v_container" style="width: 270px;height: 34px;"></div>
                    -->
<!-- 点击式按钮建议宽度不低于200px,高度介于36px与46px  -->
<!-- 嵌入式仅需设置宽度，高度根据宽度自适应，最小宽度为200px -->
<div id="vaptcha_container" style="width:270px;height:34px;">
   <!--vaptcha_container是用来引入VAPTCHA的容器，下面代码为预加载动画，仅供参考-->
   <div class="vaptcha-init-main">
      <div class="vaptcha-init-loading">
          <a href="https://www.vaptcha.com/" target="_blank"><img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/></a>
          <span class="vaptcha-text">VAPTCHA启动中...</span>
      </div>
  </div>
</div>
                    <div>
               		    <input name="" type="checkbox" value=""><span>已阅读并同意<a href="#" target="_blank"><span class="lan">《XXXXX使用协议》</span></a></span>
                    </div>
                    <input name="注册" type="buttton" class="btn_zhuce" value="注册" id="signUpSubmit">
                </form>
            </div>
        	<div class="bj_right">
                {% include "auth/socialLogin.html" %}
                <p>已有账号？<a href="{{ url_for('signIn') }}">立即登录</a></p>
            </div>
        </div>
        {% include "auth/footer.html" %}
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.vaptcha.com/v.js"></script>
    <script src="{{ url_for('static', filename='js/gVerify.js') }}"></script>
    <script type="text/javascript">
        function submitForm() {
            return true;
        }
        /*
        //验证码
        var verifyCode = new GVerify("v_container");
        function submitForm() {
            //验证码
            var res = verifyCode.validate(document.getElementById("code_input").value);
            if(res){
                return true;
            }else{
                layer.msg("验证码输入错误！");
                return false;
            }
            return true;
        }
        */
        var form = {
            token: '',
            challenge: '',
            phone: '',
            password: ''
        }
        $.get('/getVaptcha', function (r) {
            console.log(r);
            var options = {
                vid: r.vid,//站点id ,string,必选,
                challenge: r.challenge,//验证流水号 ,string,必选,
                container: $('#vaptcha_container'),//验证码容器,element,必选,
                type: "float",//验证码类型,string,默认float,可选择float,popup,embed,
                https: false,//是否是https , boolean,默认true,(false:http),
                color:"#57ABFF",//点击式按钮的背景颜色,string
                outage: '/getDowTime',
                success: function (token, challenge) {//当验证成功时执行回调,function,参数token为string,必选,
                    //提交表单时将token，challenge一并提交，作为验证通过的凭证，服务端进行二次验证
                    form.token = token;
                    form.challenge = challenge;
                },
                fail: function () {//验证失败时执行回调  
                    //todo:执行人机验证失败后的事情
                }
            }
            //vaptcha对象
            var vaptcha_obj;
            window.vaptcha(options, function (obj) {
                vaptcha_obj = obj;
                //执行初始化
                vaptcha_obj.init();
            });
        }, 'json')

        $('#signUpSubmit').click(function(e){
            e.preventDefault();
            if (!form.token || !form.challenge) {
                alert('请进行人机验证');
                return false;
            }
            form.phone = $('input[name=phone]').val();
            form.password = $('input[name=password]').val();
            $.post('/login', JSON.stringify(form), function(data){
                alert(data.msg)
            });
        })
    </script>
{% endblock %}
