<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %} - SaintIC Passport</title>
    {% include "public/header.html" %}
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/spop-0.1.3/spop.min.css">
    {% block head %}{% endblock %}
</head>
<body>
<div id="container">
    {% block container %}{% endblock %}
    <footer class="footer">
        {% include "public/footer.html" %}
    </footer>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/spop-0.1.3/spop.min.js"></script>
<script type="text/javascript">
function popup(msg) {
    spop({
        template: msg,
        position: 'top-center',
        autoclose: 5000
    });
}
</script>
{% block script %}{% endblock %}
</body>
</html>