<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div id="container">
    {% block container %}{% endblock %}
    <footer class="footer">
    <p id="copyright">
        <a href="#">关于我们</a>&nbsp;
        <a href="#">服务条款</a>&nbsp;
        <a href="#">意见反馈</a>&nbsp;
        <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备14058611号</a>
        <br/>
        Copyright &copy; 2017-<script>document.write( new Date().getFullYear() );</script>&nbsp;SaintIC. All rights reserved.
    </p>
    </footer>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>