{% extends "auth/base.html" %}

{% block title %}忘记密码{% endblock %}

{% block container %}
<div class="login">
    <h1>{{ self.title() }}</h1>
    <div class="layui-form">
        <div class="layui-form-item">
            <input class="layui-input" name="account" id="account" placeholder="邮箱或手机号" lay-verify="required" lay-verType="tips" type="text" autofocus="autofocus" maxlength="50">
        </div>
        <input type="hidden" name="scene" id="scene" value="forgot">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="password" style={{position: 'absolute', top: '-999px'}}/>
                <input class="layui-input" name="vcode" placeholder="验证码" id="vcode" lay-verify="required" lay-verType="tips" type="text" maxlength="6" autocomplete="off">
            </div>
            <div class="layui-form-mid">
                <button class="layui-btn layui-btn layui-btn-xs" id="sms-tip-msg">获取验证码</button>
            </div>
        </div>
        <div class="layui-form-item">
            <input class="layui-input" name="password" placeholder="重置的密码，6-30位" lay-verify="required|passwd" lay-verType="tips" type="password">
        </div>
        <div class="layui-form-item">
            {% include "auth/vaptcha_form.html" %}
        </div>
        <button class="layui-btn layui-btn-fluid layui-disabled" lay-submit="" lay-filter="forgot" disabled="disabled" id="submitbutton">重置</button>
    </div>
    <div class="fetures">
        想起密码？<a href="{{ url_for('front.signIn') }}">返回登录！</a>
    </div>
    {% include "public/footer.html" %}
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.vaptcha.com/v.js"></script>
<script type="text/javascript">
    {% include "auth/vaptcha_js.html" %}
    layui.use("forgot");
</script>
{% endblock %}
