{% extends "auth/base.html" %}

{% block title %}第三方账号登录绑定{% endblock %}

{% block container %}
    {%- if request.args.sso %}
        {% set url = url_for('front.OAuthBindAccount', sso=request.args.sso) %}
    {%- else %}
        {% set url = url_for('front.OAuthBindAccount') %}
    {%- endif -%}
    <form action="{{ url }}" method="post" class="form" onsubmit="return checkSubmit();">
        <div class="form-head">
            <h2>{{ self.title() }}</h2>
            <!--<p class="form-notice"></p>-->
            <p>还没有账号？<a href="{{ url_for('front.signUp') }}">立即注册</a></p>
        </div>
        <div class="form-body">
            <p class="err-msg" id="err-msg">
            {%- with messages = get_flashed_messages() %}
            {%- if messages %}
            {{ " ".join(messages) }}
            {%- endif %}
            {%- endwith %}
            </p>
            <div class="ui-input">
                <input type="text" placeholder="邮箱/手机号" name="account" id="account" autofocus="autofocus">
            </div>
            <div class="ui-input">
                <input type="password" placeholder="登录密码" name="password" id="password">
            </div>
            <input type="hidden" name="openid" value="{{ request.args.openid }}">
            {% include "auth/vaptcha_form.html" %}
            <input type="submit" class="ui-button ui-button--primary" disabled="disabled" id="submitbutton" value="绑定并登录">
        </div>
    </form>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://cdn.vaptcha.com/v.js"></script>
<script type="text/javascript">
    {% include "auth/vaptcha_js.html" %}
    function checkSubmit() {
        var password = $('#password').val();
        if(password.length<6||password.length>30){
            popup("密码长度应在6到30个字符之间！");
            return false;
        }
        return true;
    }
</script>
{% endblock %}