{% extends "auth/base.html" %}

{% block title %}第三方账号登录引导{% endblock %}

{% block head %}
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock %}

{% block container %}
<div class="login">
        <h1>{{ self.title() }}</h1>
        <div class="layui-tab layui-tab-brief" lay-filter="guide">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="bind">绑定账号</li>
                <li lay-id="login">直接登录</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-col-md1">
                            <div class="big_tips">
                                <i class="saintic-icon saintic-icon-link-exchange"></i>
                            </div>
                        </div>
                        <div class="layui-col-md11">
                            <div class="sub_tips">
                                <b>一键绑定已有账号，下次直接登录</b>
                            </div>
                        </div>
                    </div>
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <input class="layui-input" name="account" placeholder="邮箱或手机号" value="" lay-verify="required" lay-verType="tips" type="text" autofocus="autofocus">
                        </div>
                        <div class="layui-form-item">
                            <input class="layui-input" name="password" placeholder="登录密码" value=""  lay-verify="required|passwd" lay-verType="tips" type="password">
                        </div>
                        <input type="hidden" name="openid" value="{{ request.args.openid }}">
                        <button class="layui-btn layui-btn-fluid layui-disabled" lay-submit="" lay-filter="bindLogin" disabled="disabled" id="submitbutton">绑定并登录</button>
                    </form>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-row">
                        <div class="layui-col-md1">
                            <div class="big_tips">
                                <i class="saintic-icon saintic-icon-info"></i>
                            </div>
                        </div>
                        <div class="layui-col-md11">
                            <div class="sub_tips">
                                <b>直接创建一个独立的新账号，实现信息同步</b>
                            </div>
                        </div>
                    </div>
                    <form class="layui-form">
                        <input type="hidden" name="openid" value="{{ request.args.openid }}">
                        <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="directLogin" id="submitbutton2">直接登录</button>
                    </form>
                </div>
            </div>
            <div class="fetures">
                <a href="{{ url_for('front.signIn') }}">返回本地登录！</a>
            </div>
            {% include "public/footer.html" %}
        </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    layui.use("oauthguide");
</script>
{% endblock %}