{% extends "auth/base.html" %}

{% block title %}注册{% endblock %}

{% block container %}
<div class="login">
    <h1>{{ self.title() }}</h1>
    <div class="layui-form">
        <div class="layui-form-item">
            <input class="layui-input" name="account" id="account" placeholder="邮箱" lay-verify="required|email" lay-verType="tips" type="text" autofocus="autofocus" maxlength="50">
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input class="layui-input" name="vcode" placeholder="验证码" id="vcode"  lay-verify="required" lay-verType="tips" type="text" maxlength="6">
            </div>
            <div class="layui-form-mid">
                <button class="layui-btn layui-btn layui-btn-xs" id="sms-tip-msg">获取验证码</button>
            </div>
        </div>
        <div class="layui-form-item">
            <input class="layui-input" name="password" placeholder="设置密码，6-30位" lay-verify="required|passwd" lay-verType="tips" type="password">
        </div>
        <div class="layui-form-item">
            <input class="layui-input" name="repassword" placeholder="确认密码" lay-verify="required|repasswd" lay-verType="tips" type="password">
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="terms" lay-skin="primary" lay-verify="terms" title="同意服务条款" lay-verType="tips" id="terms">
        </div>
        <div class="layui-form-item">
            {% include "auth/vaptcha_form.html" %}
        </div>
        <button class="layui-btn layui-btn-fluid layui-disabled" lay-submit="" lay-filter="signUp" disabled="disabled" id="submitbutton">注册</button>
    </div>
    <div class="fetures">
        <a href="{{ url_for('front.signIn') }}">返回登录！</a>
    </div>
    {% include "public/footer.html" %}
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.vaptcha.com/v.js"></script>
<script type="text/javascript">
    {% include "auth/vaptcha_js.html" %}
    layui.use("signup");
</script>
{% endblock %}
