{% extends "auth/base.html" %}

{% block title %}登录{% endblock %}

{% block container %}
<div class="login">
    <h1>{{ self.title() }}</h1>
    <form class="layui-form">
        <div class="layui-form-item">
            <input class="layui-input" name="account" placeholder="邮箱或手机号" value="" lay-verify="required" lay-verType="tips" type="text" autofocus="autofocus">
        </div>
        <div class="layui-form-item">
            <input class="layui-input" name="password" placeholder="登录密码" value=""  lay-verify="required|passwd" lay-verType="tips" type="password">
        </div>
        <div class="layui-form-item">
            {% include "auth/vaptcha_form.html" %}
        </div>
        <button class="layui-btn layui-btn-fluid layui-disabled" lay-submit lay-filter="signIn" disabled="disabled" id="submitbutton">登录</button>
    </form>
    <div class="fetures">
        <a href="{{ url_for('front.signUp') }}" class="signup">免费注册！</a>
        <a href="{{ url_for('front.fgp') }}" class="forgot">忘记密码？</a>
    </div>
    <div class="thirds">
        第三方账号登录：
        {% for hf in get_tep('auth_signIn_socialLogin_include').HTMLFile %}{% include hf %}{% endfor %}
    </div>
    {% include "public/footer.html" %}
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.vaptcha.com/v.js"></script>
<script type="text/javascript">
    {% include "auth/vaptcha_js.html" %}
    layui.use("signin");
</script>
{% endblock %}
