{% extends "auth/base.html" %}

{% block title %}登录{% endblock %}

{% block container %}
    <form action="{{ url_for('front.signIn', ReturnUrl=g.redirect_uri) }}" method="post" class="form" onsubmit="return checkSubmit();">
		<div class="form-head">
			<h2>{{ self.title() }}</h2>
            <!--<p class="form-notice"></p>-->
			<p>还没有账号？<a href="{{ url_for('front.signUp') }}">立即注册</a></p>
		</div>
		<div class="form-body">
            <p class="err-msg" id="err-msg">
            {%- with messages = get_flashed_messages() %}
            {%- if messages %}
            {{ " ".join(messages) }}
            {%- endif %}
            {%- endwith %}
            </p>
			<div class="ui-input">
				<input type="text" placeholder="邮箱/手机号" name="account" id="account" autofocus="autofocus">
			</div>
			<div class="ui-input">
				<input type="password" placeholder="登录密码" name="password" id="password">
			</div>
            {%- include "auth/vaptcha_form.html" %}
            <input type="submit" class="ui-button ui-button--primary" disabled="disabled" id="signInButton" value="登录">
			<hr>
			<p class="forget-password">
				<a href="forget.html">忘记密码？</a>
			</p>
            <p class="socialLogin">
            	<sup>第三方社会化账号登录：</sup>
                {% if auth_signIn_socialLogin_include %}
                    {% for ai in auth_signIn_socialLogin_include() %}
                        {% include ai %}
                    {% endfor %}
                {% endif %}
                {% if auth_signIn_socialLogin_string %}
                    {% for as in auth_signIn_socialLogin_string() %}
                        {{ as|safe }}
                    {% endfor %}
                {% endif %}
            </p>
		</div>
	</form>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://cdn.vaptcha.com/v.js"></script>
<script type="text/javascript">
    //这里使用到验证场景，传过去的参数即为对应的编号，比如之前登录的对应的编号即为01
    $.get("{{ url_for('api.misc_getChallenge', sceneid='01') }}", function(res){
        var options={
            vid: res.vid, //验证单元id, string, 必填
            challenge: res.challenge, //验证流水号, string, 必填
            container:"#vaptcha_container",//验证码容器, HTMLElement或者selector, 必填
            type:"click", //必填，表示点击式验证模式,
            effect:'popup', //验证图显示方式, string, 可选择float, popup, 默认float
            color:"#57ABFF", //按钮颜色, string
            outage:"{{ url_for('api.misc_getDownTime') }}", //服务器端配置的宕机模式接口地址
            success:function(token,challenge){//验证成功回调函数, 参数token, challenge 为string, 必填
                //todo:执行人机验证成功后的操作
                $('#token').val(token);
                $('#challenge').val(challenge);
                $('#signInButton').removeAttr("disabled");
                $('#signInButton').removeClass("ui-button--primary");
                $('#signInButton').addClass("ui-button--success");
            },
            fail:function(){//验证失败回调函数  
                //todo:执行人机验证失败后的操作
            }
        }
        var obj;
        window.vaptcha(options,function(vaptcha_obj){
            obj = vaptcha_obj;
            obj.init();
        });
    });
    function checkSubmit() {
        var password = $('#password').val();
        if(password.length<6||password.length>30){
            popup("密码长度应在6到30个字符之间！");
            return false;
        }
        return true;
    }
</script>
{% endblock %}