{% extends "auth/base.html" %}

{% block title %}注册{% endblock %}

{% block container %}
	<form action="" class="form">
		<div class="form-head">
			<h2>新用户注册</h2>
			<!--<p class="form-notice">注册即送888元礼包，还可享3折套餐优惠</p>-->
			<p>已有账号？<a href="{{ url_for('signIn') }}">立即登录</a></p>
		</div>
		<div class="form-body">
            <p class="err-msg" id="err-msg">
            {%- with messages = get_flashed_messages() %}
            {%- if messages %}
            {{ " ".join(messages) }}
            {%- endif %}
            {%- endwith %}
            </p>
			<div class="ui-input">
				<input type="text" placeholder="邮箱号" name="account" id="account">
			</div>
			<div class="ui-input narrow-input">
				<input type="text" placeholder="验证码" name="vcode" id="vcode">
				<a class="sms-button" href="javascript:sendCode(this)" id="sms-tip-msg">获取验证码</a>
			</div>
			<div class="ui-input">
				<input type="password" placeholder="密码，6-16位，区分大小写" name="password" id="password">
			</div>
            <div class="ui-input">
                <input type="password" placeholder="确认密码，6-16位，区分大小写" name="repassword" id="repassword">
            </div>
            <div id="vaptcha_container">
                <div class="vaptcha-init-loading">
                    <a><img src="{{ url_for('static', filename='images/vaptcha-loading.gif') }}"/></a>
                    <span class="vaptcha-text">VAPTCHA启动中...</span>
                </div>
            </div>
			<button class="ui-button ui-button--primary" disabled="disabled" id="signUpButton">注册</button>
		</div>
	</form>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://cdn.vaptcha.com/v.js"></script>
<script type="text/javascript">
    $.get('/getVaptcha?sceneid=02', function(res){
        //这里使用到验证场景，传过去的参数即为对应的编号，比如之前登录的对应的编号即为01
        console.log(res);
        var options={
            vid: res.vid, //验证单元id, string, 必填
            challenge: res.challenge, //验证流水号, string, 必填
            container:"#vaptcha_container",//验证码容器, HTMLElement或者selector, 必填
            type:"click", //必填，表示点击式验证模式,
            effect:'popup', //验证图显示方式, string, 可选择float, popup, 默认float
            color:"#57ABFF", //按钮颜色, string
            outage:"/getDowTime", //服务器端配置的宕机模式接口地址
            success:function(token,challenge){//验证成功回调函数, 参数token, challenge 为string, 必填
                //todo:执行人机验证成功后的操作
                console.log(token,challenge);
                $('#signUpButton').removeAttr("disabled");
                $('#signUpButton').removeClass("ui-button--primary");
                $('#signUpButton').addClass("ui-button--success");
            },
            fail:function(){//验证失败回调函数  
                //todo:执行人机验证失败后的操作
            }
        }
        var obj;
        window.vaptcha(options,function(vaptcha_obj){
            obj = vaptcha_obj;
            obj.init();
        });
    });
    function sendCode(that) {
        var wait = 300;
        var account = $('#account').val();
        console.log(account);
        if (account) {
            $.ajax({
                type: 'post',
                url: '{{ url_for("misc_sendVcode") }}',
                data: {"account": account},
                success: function (res) {
                    console.log(res);
                    if (res.success==true) {
                        check();
                    } else {
                        alert(res.msg);
                    }
                }
            });
        } else {
            alert("请填写账号");
        }
        function check() {
            if (wait == 0) {
                $('#sms-tip-msg').removeAttr("disabled");
                $('#sms-tip-msg').attr('href','javascript:sendCode(this)');
                $('#sms-tip-msg').text("点击发送验证码");
                wait = 300;
            } else {
                $('#sms-tip-msg').attr("disabled", true);
                $('#sms-tip-msg').removeAttr('href');
                $('#sms-tip-msg').text(wait+"秒后可重新获取");
                wait--;
                setTimeout(function() {
                    check();
                }, 1000)
            }
        }
    }
</script>
{% endblock %}