<script src="https://cdn.vaptcha.com/v.js"></script>
<script type="text/javascript">
    var vaptchaObj;
    window.vaptcha({
        vid: "{{ vaptcha.vid }}", //验证单元id, string, 必填
        challenge: "{{ vaptcha.challenge }}", //验证流水号, string, 必填
        container:"#vaptcha_container",//验证码容器, HTMLElement或者selector, 必填
        type:"click", //必填，表示点击式验证模式,
        effect:'popup', //验证图显示方式, string, 可选择float, popup, 默认float
        color:"#57ABFF", //按钮颜色, string
        outage:"{{ url_for('api.misc_getDownTime') }}", //服务器端配置的宕机模式接口地址
        success:function(token,challenge){//验证成功回调函数, 参数token, challenge 为string, 必填
            //todo:执行人机验证成功后的操作
            $('#token').val(token);
            $('#challenge').val(challenge);
            $('#submitbutton').removeAttr("disabled");
            $('#submitbutton').removeClass("layui-disabled");
        },
        fail:function(){//验证失败回调函数  
            //todo:执行人机验证失败后的操作
        }
    }, function(vaptcha_obj){
        vaptchaObj = vaptcha_obj;
        vaptchaObj.init();
    });
</script>