<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
  <!--
  <li class="layui-nav-item {% if request.endpoint == 'front.userset' %}layui-this{% endif %}">
    <a href="home.html">
      <i class="layui-icon">&#xe609;</i>
      我的主页
    </a>
  </li>
  -->

  <li class="layui-nav-item {% if request.endpoint == 'front.userhome' %}layui-this{% endif %}">
    <a href="{{ url_for('front.userhome') }}">
      <i class="layui-icon">&#xe612;</i>
      用户中心
    </a>
  </li>
  <li class="layui-nav-item {% if request.endpoint == 'front.userset' %}layui-this{% endif %}">
    <a href="{{ url_for('front.userset') }}">
      <i class="layui-icon">&#xe620;</i>
      基本设置
    </a>
  </li>
  {% if tpl_adminlogin_required() %}
  <li class="layui-nav-item {% if request.endpoint == 'front.userapp' %}layui-this{% endif %}">
    <a href="{{ url_for('front.userapp') }}">
      <i class="layui-icon">&#xe857;</i>
      应用管理
    </a>
  </li>
  {% endif %}
  <!--
  <li class="layui-nav-item {% if request.endpoint == 'front.userset' %}layui-this{% endif %}">
    <a href="message.html">
      <i class="layui-icon">&#xe611;</i>
      我的消息
    </a>
  </li>
  -->
</ul>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>