body {
    overflow:hidden;
}
.login {
    height:auto;
    width:300px;
    padding:20px;
    background-color:rgba(16,16,16,0.24);
    border-radius:10px;
    position:absolute;
    left:50%;
    top:40%;
    margin:-160px 0 0 -150px;
    z-index:99;
}
.login h1 {
    text-align:center;
    color:#fff;
    font-size:22px;
    margin-bottom:20px;
}
.fetures,.thirds,.fly-footer {
    margin-top:10px;
    color:#fff;
    font-size:14px;
}
.fetures {
    overflow:auto;
    zoom:1;
}
.fetures a {
    color:#fff;
}
.fetures a:hover {
    color:#dedede;
}
.fetures .signup {
    float:left;
}
.fetures .forgot {
    float:right;
}
.thirds {
    clear:both;
    font-size:smaller;
}
.fly-footer {
    margin-top:0;
    border-top:none;
    padding:10px 0 5px;
    text-align:center;
}
.fly-footer a {
    color:#fff;
}
.fly-footer a:hover {
    color:#dedede;
}
.thirds a i {
    color:#dedede;
}

.sms-button { display: inline-block; width: 80px; font-weight: bold; font-size: 14px; text-align: right; color: #009688; }

.big_tips i {
    font-size: 22px;
}
.sub_tips {
    font-size: 12px;
    color: #808080;
}