<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>简单百搭的找回密码页面_dowebok</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="main">
	<form action="forget-2.html" class="form">
		<div class="form-head">
			<h2>找回密码</h2>
		</div>
		<div class="form-body">
			<p class="err-msg">手机号不可用</p>
			<div class="ui-input">
				<input type="text" placeholder="注册手机号">
			</div>
			<div class="ui-input narrow-input">
				<input type="text" placeholder="图片验证码">
				<img class="captcha" src="images/captcha.png" alt="">	
			</div>
			<button class="ui-button ui-button--primary">下一步</button>
		</div>
	</form>
</div>

<script src="js/script.js"></script>
</body>
</html>